@import "../partials.scss";
.box1 * {
  background-color: transparent;
}
.box1 {
  @include standardBoxMargin;
  .nameBox {
    @include horizontalCenter;
    > p {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 34px;
    }
  }
  .statBox {
    > p {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    > div {
      @include horizontalCenter;
      border: 2px solid white;
      margin-bottom: 15px;
      border-radius: 5px;
      transition: 0.2s ease all;
      > p {
        padding: 10px;
        transition: 0.2s ease all;
      }
      > p:nth-child(1) {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
      }
      > p:nth-child(2) {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
  .cardBox {
    > img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}
