@import "../partials.scss";
.box1,
.bottomSection * {
  background-color: transparent;
}
.box1 {
  @include standardBoxMargin;
  .linkBox {
    margin: 15px 0;
    @include horizontalCenter;
    > p {
      font-style: normal;
      font-weight: 500;
      font-size: 18.2069px;
      line-height: 24px;
      color: $themeTextColor1;
    }
  }
  .cardBox {
    > p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
    }
    .card {
      text-align: center;
      > img {
        width: 50%;
        height: 50%;
        object-fit: contain;
        animation: fitInPlace 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }
}
.bottomSection {
  padding: 15px;
  background-color: $themeBackground1;
  .btnBox {
    text-align: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.04);
    @include verticalCenter;
    border-radius: 18px;
    > button {
      width: 95%;
      height: 60px;
      background: linear-gradient(180deg, #757575 0%, #000000 136.35%);
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
      border-radius: 18px;

      font-family: "Arial";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
    }
  }
}
.statBox {
  max-height: 24vh;
  overflow-x: scroll;
  > div {
    @include horizontalCenter;
    border: 2px solid white;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: 0.2s ease all;
    > p {
      padding: 10px;
      transition: 0.2s ease all;
    }
    > p:nth-child(1) {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
    }
    > p:nth-child(2) {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }
  }
}
@keyframes fitInPlace {
  0% {
    transform: scale(2) translate(0, 50px);
  }
  100% {
    transform: scale(1) translate(0px, 0px);
  }
}
