@import "../partials.scss";

.headerBox {
  @include standardBoxMargin;
  .primaryHeading {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: $themeTextColor1;
    > span {
      > img {
        width: 25px;
        height: 25px;
        object-fit: contain;

        position: relative;
        top: 3px;
        margin-left: 8px;
      }
    }
  }
  .secondaryHeading {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;

    color: $themeSelected1;
  }
}
