.optionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 3px 0;
  > div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    > img {
      flex: 0.15;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    > p {
      flex: 1;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  > div:nth-child(2) {
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(180deg);
      &:active {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }
}
