@import "../partials.scss";
.box1 {
  @include horizontalCenter;
  padding: 30px 20px;
  > div {
    @include verticalCenter;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      &:active {
        transition: 0.2s ease;
        transform: scale(1.1);
      }
    }
  }
}
