body,
html {
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px; /* height of horizontal scrollbar */
  background-color: transparent;
}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #e5e5e563;
  border-radius: 10px;
}
