@mixin theme_background {
  /* The image used */
  background-image: url("../assets/masterBg1.png"),
    linear-gradient(
      180deg,
      #000000 2.18%,
      #01002a 37.26%,
      #761449 106.29%,
      #ff2b6e 113.06%
    );
  position: relative;
  display: table;
  width: 100vw;
  height: 100vh;
}
@mixin horizontalCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin standardBoxMargin {
  padding: 0 20px;
}
$themeTextColor1: #e5e5e5;
$themeBackground1: #01002a;
$themeSelected1: #ff2b6e;
